#preact-author {
	background-color: #ffffff;
	border-top: 1px dashed red;
	max-width: 100%;
	width: 100%;
	font-size: 1.6rem;
}
#preact-author .author-box {
	padding: 20px 0;
	max-width: 58rem;
	width: calc(100% - 4rem);
	margin-left: auto;
    margin-right: auto;
}
#preact-author .author-info__name {
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-family: cursive;
	font-weight: normal;
}
